@model gestionDiversidad.Models.TPermiso

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TPermiso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdPantalla" class="control-label"></label>
                <select asp-for="IdPantalla" class ="form-control" asp-items="ViewBag.IdPantalla"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdRol" class="control-label"></label>
                <select asp-for="IdRol" class ="form-control" asp-items="ViewBag.IdRol"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Insertar" /> @Html.DisplayNameFor(model => model.Insertar)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Modificar" /> @Html.DisplayNameFor(model => model.Modificar)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Borrar" /> @Html.DisplayNameFor(model => model.Borrar)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Acceder" /> @Html.DisplayNameFor(model => model.Acceder)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
