@model gestionDiversidad.ViewModels.TProfesores.BorrarDocenciaView

@{
    ViewData["Title"] = "borrarDocencia";
}

<h1>Borrar docencia</h1>

<h3>¿Seguro que quieres borrar esta docencia?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            <strong>Alumno </strong>
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Profesor.Nombre)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Profesor.Nif)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Profesor.Nif)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            <strong>Asignatura </strong>
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Asignatura.Nombre)
        </dd>
    </dl>

    <form asp-action="confirmarBorradoDocencia" asp-controller="TProfesores"
          style="margin-top: 10px; margin-bottom: 10px;">
        <input type="hidden" name="nifProfesor" value=@Model.Profesor.Nif />
        <input type="hidden" name="idAsignatura" value=@Model.Asignatura.Id />
        <input type="submit" value="Borrar docencia" class="btn btn-danger" /> |

    </form>
</div>
<div>
    <a asp-action="listaDocencias" asp-controller="TProfesores">
        Volver lista de docencias
    </a>
</div>
