@model gestionDiversidad.ViewModels.TProfesores.BorrarDocenciaView

@{
    ViewData["Title"] = "borrarDocencia";
}

<div class="text-center">
    <h2>¿Seguro que quieres borrar esta docencia?</h2>
</div>

<div class="text-center">
    <hr />
    <dl class="row">
        <dt>
            <strong>Profesor: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profesor.Nombre)
        </dd>
    </dl>
    <dl class="row">
        <dt>
            <strong>Nif: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profesor.Nif)
        </dd>
    </dl>
    <dl class="row">
        <dt>
            <strong>Asignatura: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asignatura.Nombre)
        </dd>
    </dl>

    <form asp-action="confirmarBorradoDocencia" asp-controller="TProfesores"
          style="margin-top: 10px; margin-bottom: 10px;">
        <input type="hidden" name="nifProfesor" value=@Model.Profesor.Nif />
        <input type="hidden" name="idAsignatura" value=@Model.Asignatura.Id />
        <input type="submit" value="Borrar docencia" class="btn btn-danger" /> 

    </form>
</div>
<div class="text-center">
    <a asp-action="listaDocencias" asp-controller="TProfesores" class="btn btn-dark">
        Volver atrás
    </a>
</div>
