@model gestionDiversidad.ViewModels.TAlumnos.BorrarMatriculaView

@{
    ViewData["Title"] = "borrarMatricula";
}

<div class="text-center">
    <h2>¿Seguro que quieres borrar esta matrícula?</h2>
</div>

<div class="text-center">
    <hr />
    <dl class="row">
        <dt>
            <strong>Alumno: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alumno.Nombre)
        </dd>
    </dl>
    <dl class="row">
        <dt>
            <strong>Nif: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alumno.Nif)
        </dd>
    </dl>
    <dl class="row">
        <dt>
            <strong>Asignatura: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asignatura.Nombre)
        </dd>
    </dl>

    <form asp-action="confirmarBorradoMatricula" asp-controller="TAlumnos" 
    style="margin-top: 10px; margin-bottom: 10px;">
        <input type="hidden" name="nifAlumno" value=@Model.Alumno.Nif />
        <input type="hidden" name="idAsignatura" value=@Model.Asignatura.Id />
        <input type="submit" value="Borrar matrícula" class="btn btn-danger" /> 
    </form>
</div>
<div class="text-center">
    <a asp-action="listaMatriculas" asp-controller="TAlumnos" class="btn btn-dark">
        Volver atrás
    </a>
</div>
