@model gestionDiversidad.ViewModels.TAsignaturas.AsignaturaView

@{
    ViewData["Title"] = "borrarAsignatura";
}

<h3>¿Seguro que quieres borrar esta asignatura?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asignatura.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asignatura.Nombre)
        </dd>
    </dl>
</div>
<div style="margin-top: 10px; margin-bottom: 10px;">
    <form asp-action="confirmarBorrado" asp-controller="TAsignaturas">
        <input type="hidden" name="id" value="@Model.Asignatura.Id" />
        <input type="submit" value="Borrar Asignatura" class="btn btn-danger" />
    </form>
</div>
<div>
    <a asp-action="listaAsignaturas" asp-controller="TAsignaturas">
        Volver a la lista de asignaturas
    </a>
</div>



