@model gestionDiversidad.ViewModels.TAsignaturas.AsignaturaView

@{
    ViewData["Title"] = "borrarAsignatura";
}

<div class="text-center">
    <h2>¿Seguro que quieres borrar esta asignatura?</h2>
</div>

<hr />
<div class="text-center">
    <dl class="row">
        <dt>
            <strong>Nombre: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asignatura.Nombre)
        </dd>
    </dl>
</div>
<div style="margin-top: 10px; margin-bottom: 10px;" class="text-center">
    <form asp-action="confirmarBorrado" asp-controller="TAsignaturas">
        <input type="hidden" name="id" value="@Model.Asignatura.Id" />
        <input type="submit" value="Borrar Asignatura" class="btn btn-danger" />
    </form>
</div>
<div class="text-center">
    <a asp-action="listaAsignaturas" asp-controller="TAsignaturas" class="btn btn-dark">
        Volver atrás
    </a>
</div>



