@model gestionDiversidad.ViewModels.TAsignaturas.ListaAsignaturasView

@{
    ViewData["Title"] = "listAsignaturas";
}

<h1>Lista de asignaturas</h1>

<table class="table" style="text-align:center; vertical-align:middle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListaAsignaturas.First().Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaAsignaturas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                @if (Model.Permiso.Borrar)
                {
                    <td>
                        <form asp-action="borrarAsignatura" asp-controller="TAsignaturas">
                            <input type="hidden" name="actualNif" value=@Model.ActualNif />
                            <input type="hidden" name="actualRol" value=@Model.ActualRol />
                            <input type="hidden" name="id" value=@item.Id />
                            <button type="submit" class="btn btn-danger">Borrar Asignatura</button>
                        </form>
                    </td>
                }

                </tr>
        }
    </tbody>
</table>

@if (Model.Permiso.Insertar)
{
    <div style="margin-top: 10px; margin-bottom: 10px;">
        <a asp-controller="TAsignaturas" asp-action="insertarAsignatura" class="btn btn-primary">
            Crear asignatura
        </a>
    </div>
}

<div>
    <a asp-controller="TUsuarios" asp-action="volverPerfil" 
    asp-route-nif=@Model.ActualNif asp-route-rol=@Model.ActualRol>Volver al perfil anterior</a>
</div>





