@model string

@{
    ViewData["Title"] = "inicioSesion";
}

<h2>Inicio sesion</h2>

<form asp-controller="TUsuarios" asp-action="logging">
    <div>
        <label for="usuario">Usuario: </label>
        <input type="text" name="usuario" id="usuario"><br>
        <br>
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="text" name="password" id="password"><br>
        <br>
    </div>

    <input type="submit" value="Iniciar Sesion">

    @if (TempData["ErrorSesion"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorSesion"]</div>
    }
</form>

