@model string

@{
    ViewData["Title"] = "inicioSesion";
}

<div class="text-center">
    <h2>Inicio sesión</h2>
</div>

<div class="text-center">
    <form asp-controller="TUsuarios" asp-action="logging">
        <div style="margin-bottom: 10px;">
            <label for="usuario" style="display: block;">Usuario:</label>
            <input type="text" name="usuario" id="usuario" style="margin-left: 5px;">
        </div>
        <div style="margin-bottom: 10px;">
            <label for="password" style="display: block;">Password:</label>
            <input type="password" name="password" id="password" style="margin-left: 5px;">
        </div>

        <input type="submit" class="btn btn-primary" value="Iniciar Sesión">

        @if (TempData["ErrorSesion"] != null)
        {
            <div class="alert alert-danger text-center" style="margin-top: 10px; margin-bottom: 10px;">
                @TempData["ErrorSesion"]
            </div>
        }
    </form>
</div>



